<div *ngFor="let board of userBoards" class="card" >
    <div class="card-body">

        <div class="row">
          <div class="col-sm">
              <h5 class="card-title">{{board.name}}</h5>
          </div>
          <div class="col-sm text-right">
              <button type="button" class="btn btn-primary btn-sm m-1" (click)="deleteBoard(board.id)">
                  <i class="fas fa-plus"></i> Add Location
              </button>
              <button type="button" class="btn btn-primary btn-sm m-1" (click)="deleteBoard(board.id)">
                <i class="far fa-trash-alt"></i> Delete Board
            </button>

              
          </div>
          
        </div>

      

      <table class="table table-sm">
          <tbody>
            <tr *ngFor="let location of board.locations">
              <td>{{location.city}}, {{location.country}}</td>
              <td class="text-right">
                <button type="button" class="btn btn-light" (click)="deleteLocationOfBoard(board.id,location.woeid)">
                    <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>



