<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Board 1</h5>
        
        <div class="card text-white bg-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            
            <ul class="list-group text-dark">
              <li class="list-group-item">Buenos Aires - Argentina - 25°</li>
              <li class="list-group-item">Rosario - Argentina - 23°</li>
              <li class="list-group-item">Lanus - Argentina - 21°</li>
            </ul>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>