<div class="container">


  <div class="card-columns">
    <div *ngFor="let board of userBoards" class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">{{board.name}}</h5>
        <div class="card-text">
          <ul *ngFor="let location of board.locations" class="list-group text-dark">

            <li class="list-group-item d-flex justify-content-between align-items-center">

              <div class="divTable">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell text-left font-weight-bold">{{location.city}}<small>, {{location.country}}</small></div>
                    <div class="divTableCell text-right"> <img *ngIf="location.weatherPoints" src="http://l.yimg.com/a/i/us/we/52/{{location.weatherPoints[0].code}}.gif"
                        alt=""></div>
                  </div>
                  <div class="divTableRow">
                    <div class="divTableCell text-left">
                      <h4 *ngIf="location.weatherPoints">{{location.weatherPoints[0].temp}}
                        C°</h4>
                    </div>
                    <div class="divTableCell text-right" *ngIf="location.weatherPoints">{{location.weatherPoints[0].description}}</div>

                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>