
<div class="text-right">
<button type="button" class="btn btn-primary btn-sm mb-2 mr-4 " data-toggle="modal" data-target="#createBoardModal">
  <i class="fas fa-plus"></i> Create Board
</button>
</div>
<div *ngFor="let board of userBoards" class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-sm">
        <h5 class="card-title">{{board.name}}</h5>
      </div>
      <div class="col-sm text-right">
        <button type="button" class="btn btn-primary btn-sm m-1" (click)="selectBoard(board.id)" data-toggle="modal"
        data-target="#addLocationModal">
          <i class="fas fa-plus"></i> Add Location
        </button>
        <button type="button" class="btn btn-primary btn-sm m-1" (click)="selectBoard(board.id)" data-toggle="modal" data-target="#confirmationDeleteBoardModal">
          <i class="far fa-trash-alt"></i> Delete Board
        </button>
      </div>
    </div>

    <table class="table table-sm">
      <tbody>
        <tr *ngFor="let location of board.locations">
          <td>{{location.city}}, {{location.country}}</td>
          <td class="text-right">
            <button type="button" class="btn btn-light" (click)="selectBoardAndLocation(board.id,location.woeid)" data-toggle="modal" data-target="#confirmationDeleteLocationModal">
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>






<!-- confirmationDeleteBoardModal -->
<div class="modal fade" id="confirmationDeleteBoardModal" tabindex="-1" role="dialog" aria-labelledby="confirmationDeleteBoardModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationDeleteBoardModalLabel">Delete Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteBoard(selectedBoard)">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- confirmationDeleteLocationModal -->
<div class="modal fade" id="confirmationDeleteLocationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationDeleteLocationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationDeleteLocationModalLabel">Delete Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteLocationOfBoard(selectedBoard,selectedLocation)">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal create Board -->
<div class="modal fade" id="createBoardModal" tabindex="-1" role="dialog" aria-labelledby="createBoardModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createBoardModalLabel">Create Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="addBoard()">
        <div class="modal-body">
          <div class="form-group">
            <label for="boardName">Board name:</label>
            <input [(ngModel)]="boardName" name="boardName" type="text" class="form-control" id="boardName">
          </div>
          <br>
          <div *ngIf="showBoardSuccessMessage" class="alert alert-success" role="alert">Done!!</div>
          <div *ngIf="showBoardErrorMessage" class="alert alert-danger" role="alert">Error!: {{restResponse.message}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideMessages()">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add Location -->
<div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLocationModalLabel">Add Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (submit)="addLocation()">
          <div class="modal-body">
            <div class="form-group">
              <label for="city">City:</label>
              <input [(ngModel)]="city" name="city" type="text" class="form-control" id="city" placeholder="City, Country">
            </div>
            <br>
            <div *ngIf="showLocationSuccessMessage" class="alert alert-success" role="alert">Done!</div>
            <div *ngIf="showLocationErrorMessage" class="alert alert-danger" role="alert">Error!: {{restResponse.message}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideMessages()">Close</button>
            <button type="submit" class="btn btn-primary">Add Location</button>
          </div>
        </form>

    </div>
  </div>
</div>



